<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wizart" translate="label" sortOrder="200">
            <label>Wizart</label>
        </tab>
        <section id="wizart_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General Settings</label>
            <!-- Assign section to tab -->
            <tab>wizart</tab>
            <resource>Wizart_General::configuration</resource>
            <!-- create group for fields in section -->
            <group id="parameters" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <!-- create text type field -->
                <field id="version" translate="label comment" type="text"  sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Version</label>
                    <frontend_model>\Wizart\General\Block\Config\Form\Field\Version</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
