<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="wizart_entry_point_button" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Entry Point Button</label>
            <tab>wizart</tab>
            <resource>Wizart_EntryPointButton::configuration</resource>
            <group id="product_page" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Page</label>
                <field id="doc_link" translate="Version" type="text"  sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Documentation</label>
                    <frontend_model>\Wizart\EntryPointButton\Block\Config\Form\Field\DockLink</frontend_model>
                </field>
                <field id="enabled" translate="Token" type="select"  sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                    <tooltip>Text to be displayed on the button</tooltip>
                    <comment>Default: Try it in your room in one click!</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="background" translate="label" type="text"  sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button background color</label>
                    <tooltip>Button background color.</tooltip>
                    <comment>Empty for default value. Example: #FA5961</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="color" translate="label" type="text"  sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button text color</label>
                    <tooltip>Button text color.</tooltip>
                    <comment>Empty for default value. Example: #FA5961</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tooltip_disable" translate="label" type="select"  sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Tooltip Disable</label>
                    <tooltip>To hide the tooltip.</tooltip>
                    <comment>Default: enabled</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tooltip_title" translate="label" type="text"  sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Tooltip Title</label>
                    <tooltip>Text to be displayed on the tooltip.</tooltip>
                    <comment>Default: See it in your room!</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tooltip_position" translate="label" type="text"  sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Tooltip Position</label>
                    <tooltip>Tooltip position towards the button.</tooltip>
                    <comment>Available values are top, right, bottom, left (the default value is top)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="glitter_disable" translate="label" type="select"  sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Glitter Disable</label>
                    <tooltip>If the value is true, glitter will not be displayed</tooltip>
                    <comment>Default: enabled</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="width" translate="label" type="text"  sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Max button width</label>
                    <tooltip>Max button width.</tooltip>
                    <comment>Keep empty for default. Example: 250px, 20%</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="height" translate="label" type="text"  sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button height</label>
                    <tooltip>Button height.</tooltip>
                    <comment>Keep empty for default. Example: 250px, 20%</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="border" translate="label" type="text"  sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button border</label>
                    <tooltip>Button border.</tooltip>
                    <comment>Keep empty for default. Example: 250px, 20%</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="border_radius" translate="label" type="text"  sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button border radius</label>
                    <tooltip>Button border radius.</tooltip>
                    <comment>Keep empty for default. Example: 250px, 20%</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="image" translate="label" type="text"  sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button image</label>
                    <tooltip>Link to the icon that will be displayed on the button.</tooltip>
                    <comment>Keep empty for default. Example: <![CDATA[
                    http://site.com/icon.png
                    ]]> </comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="class_name" translate="label" type="text"  sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>CSS class name</label>
                    <tooltip>Class to be set for the button element on the page.</tooltip>
                    <comment>Keep empty for default.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="onload_callback" translate="label" type="text"  sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Onload callback</label>
                    <tooltip>The name of the function to be in the global scope. The function will be called when the visualizer  is loaded.</tooltip>
                    <comment>Example: updateQuote</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="on_close_callback" translate="label" type="text"  sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>On close callback</label>
                    <tooltip>The name of the function to be in the global scope. The function will be called after the visualizer is closed.</tooltip>
                    <comment>Example: clearCache</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="element_selector" translate="label" type="text"  sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Element selector</label>
                    <tooltip>A CSS selector to select an element on the page to insert a button where you want.</tooltip>
                    <comment>Example: body.my-block</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="insert_element_position" translate="label" type="text"  sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Insert element position</label>
                    <tooltip>The insertion position of the element. Values: append, before, after. default value: append.</tooltip>
                    <comment>Default: after</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="iframe_element_selector" translate="label" type="text"  sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Iframe element selector</label>
                    <tooltip>A CSS selector to select an element on the page to insert the fitting room where you want.</tooltip>
                    <comment>Default: body.my-block</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="insert_iframe_element_position" translate="label" type="text"  sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Iframe element position</label>
                    <tooltip>The insertion position of the element. Values: append, before, after. default value: append.</tooltip>
                    <comment>Default: append</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="catalog_page" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Catalog Page</label>
                <field id="doc_link" translate="Version" type="text"  sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Documentation</label>
                    <frontend_model>\Wizart\EntryPointButton\Block\Config\Form\Field\DockLink</frontend_model>
                </field>
                <field id="enabled" translate="Token" type="select"  sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                    <tooltip>Text to be displayed on the button</tooltip>
                    <comment>Default: Try it in your room in one click!</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="background" translate="label" type="text"  sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button background color</label>
                    <tooltip>Button background color.</tooltip>
                    <comment>Empty for default value. Example: #FA5961</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="color" translate="label" type="text"  sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button text color</label>
                    <tooltip>Button text color.</tooltip>
                    <comment>Empty for default value. Example: #FA5961</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tooltip_disable" translate="label" type="select"  sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Tooltip Disable</label>
                    <tooltip>To hide the tooltip.</tooltip>
                    <comment>Default: enabled</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tooltip_title" translate="label" type="text"  sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Tooltip Title</label>
                    <tooltip>Text to be displayed on the tooltip.</tooltip>
                    <comment>Default: See it in your room!</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tooltip_position" translate="label" type="text"  sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Tooltip Position</label>
                    <tooltip>Tooltip position towards the button.</tooltip>
                    <comment>Available values are top, right, bottom, left (the default value is top)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="glitter_disable" translate="label" type="select"  sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Glitter Disable</label>
                    <tooltip>If the value is true, glitter will not be displayed</tooltip>
                    <comment>Default: enabled</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="width" translate="label" type="text"  sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Max button width</label>
                    <tooltip>Max button width.</tooltip>
                    <comment>Keep empty for default. Example: 250px, 20%</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="height" translate="label" type="text"  sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button height</label>
                    <tooltip>Button height.</tooltip>
                    <comment>Keep empty for default. Example: 250px, 20%</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="border" translate="label" type="text"  sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button border</label>
                    <tooltip>Button border.</tooltip>
                    <comment>Keep empty for default. Example: 250px, 20%</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="border_radius" translate="label" type="text"  sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button border radius</label>
                    <tooltip>Button border radius.</tooltip>
                    <comment>Keep empty for default. Example: 250px, 20%</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="image" translate="label" type="text"  sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button image</label>
                    <tooltip>Link to the icon that will be displayed on the button.</tooltip>
                    <comment>Keep empty for default. Example: <![CDATA[
                    http://site.com/icon.png
                    ]]> </comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="class_name" translate="label" type="text"  sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>CSS class name</label>
                    <tooltip>Class to be set for the button element on the page.</tooltip>
                    <comment>Keep empty for default.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="onload_callback" translate="label" type="text"  sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Onload callback</label>
                    <tooltip>The name of the function to be in the global scope. The function will be called when the visualizer  is loaded.</tooltip>
                    <comment>Example: updateQuote</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="on_close_callback" translate="label" type="text"  sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>On close callback</label>
                    <tooltip>The name of the function to be in the global scope. The function will be called after the visualizer is closed.</tooltip>
                    <comment>Example: clearCache</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="element_selector" translate="label" type="text"  sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Element selector</label>
                    <tooltip>A CSS selector to select an element on the page to insert a button where you want.</tooltip>
                    <comment>Example: body.my-block</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="insert_element_position" translate="label" type="text"  sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Insert element position</label>
                    <tooltip>The insertion position of the element. Values: append, before, after. default value: append.</tooltip>
                    <comment>Default: append</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="iframe_element_selector" translate="label" type="text"  sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Iframe element selector</label>
                    <tooltip>A CSS selector to select an element on the page to insert the fitting room where you want.</tooltip>
                    <comment>Default: body.my-block</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="insert_iframe_element_position" translate="label" type="text"  sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Iframe element position</label>
                    <tooltip>The insertion position of the element. Values: append, before, after. default value: append.</tooltip>
                    <comment>Default: append</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
