<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="wizart_entry_point_button" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Entry Point Button</label>
            <tab>wizart</tab>
            <resource>Wizart_EntryPointButton::configuration</resource>
            <group id="product_page" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Page</label>
                <field id="doc_link" translate="Version" type="text"  sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Documentation</label>
                    <frontend_model>\Wizart\FloatingButton\Block\Config\Form\Field\DockLink</frontend_model>
                </field>
                <field id="enabled" translate="Token" type="select"  sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="catalog_page" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Catalog Page</label>
                <field id="doc_link" translate="Version" type="text"  sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Documentation</label>
                    <frontend_model>\Wizart\FloatingButton\Block\Config\Form\Field\DockLink</frontend_model>
                </field>
                <field id="enabled" translate="Token" type="select"  sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
