<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wizart_general>
            <general>
                <enabled>0</enabled>
                <context></context>
            </general>
        </wizart_general>
    </default>
</config>
